*{
    margin: 0;
    padding: 0;
}
.container{
background: url("images/snake.jpeg");
background-size: 100vw 100vh;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.board{
    background: linear-gradient(rgb(236, 159, 159),rgb(198, 171, 233));
    width:90vmin ;
    height: 90vmin;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);

}
.head{
    background-color: rgb(65, 3, 41);
}
.food{
    background-color: purple;
}
.snake{
    background-color: #c0e424;
}